:root {
    --body-bg: linear-gradient(45deg, #05DBF2, #00163D);
    --section: #02FE85;
    --text-color: #00163D;
    --bg-cards: #FFFFFF;
    --bg-techs: #FA26AD;
    --pic-border: #02FE85;

    --pink: #FA26AD;
    --light-blue: #05DBF2;
    --dark-blue: #00163D;
    --green: #02FE85;
}

html * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font: 500 18px/22px 'Darker Grotesque', sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100vw;
    
    padding: 40px;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    background: var(--body-bg);
    background-size: cover;
}

img::selection {
    background-color: #ffffff00;
}

*:not(img)::selection {
    background-color: var(--light-blue);
}

aside > section:not(:first-child) {
    margin-top: 30px;
}